// COLORS

$color-white: #fff;
$color-black: #000;
$color-top-bg: hsl(180, 29%, 50%);
$color-bottom-bg: hsl(180, 52%, 96%);
$color-filter-bg: hsl(180, 31%, 95%);
$color-light-grey: hsl(180, 8%, 52%);
$color-dark-grey: hsl(180, 14%, 20%);


// BREAKPOINTS
$bp-largest: 62.5em;
$bp-medium: 43.75em;
$bp-small: 37.5em;
$bp-smallest: 25em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    background-color: $color-bottom-bg;
    font-family: 'Spartan', sans-serif;
}

.header {
    height: 20vh;
    background-color: $color-top-bg;
    background-image: url('/images/bg-header-desktop.svg');
    background-size: cover;
}

.container {
}

.search {
    background-color: #fff;
    width: 80%;
    margin: 0 auto; 
    margin-top: -2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 1.5rem 1.5rem rgba($color-top-bg, .3);

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1rem;
    }

    &__item {
        display: flex;
        align-items: center;
        background-color: $color-filter-bg;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 1rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &--category {
            font-size: 1.2rem;
            padding: 1rem;
            color: $color-top-bg;
            font-weight: bold;
        }

        &--delete {

            font-size: 2rem;
            font-weight: bold;
            height: 3.5rem;
            width: 3.5rem;
            background-color: $color-top-bg;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s;
            cursor: pointer;

            &:hover {
                background-color: $color-dark-grey;
            }
        }
    }

    &__clear {
        border: none;
        font-size: 1.3rem;
        
        color: $color-light-grey;
        font-weight: 700;
        cursor: pointer;
        letter-spacing: 0.25px;
        transition: all .2s;
        margin-left: 1.5rem;
        
        &:hover {
            color: $color-top-bg;
            text-decoration: underline;
        }
    }

    @media only screen and (max-width: $bp-largest) {
        width: 90%;
    }

}

.new {
    display: inline-block;
    padding: 0.2rem .9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: $color-top-bg; 
    border-radius: 14px;
    text-transform: uppercase;
    color: $color-bottom-bg;
    font-weight: 700;
}

.featured {
    display: inline-block;
    padding: 0.2rem .9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: $color-dark-grey; 
    border-radius: 14px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
}

.jobs {
    width: 80%;
    margin: 3rem auto;

    @media only screen and (max-width: $bp-largest) {
        width: 90%;
    }
}

.joblist {
    list-style: none;
    
    @media only screen and (max-width: $bp-smallest) {
        margin-top: 6.5rem;
    }
}

.job {
    display: grid;
    background-color: $color-white;
    padding: 3rem;
    align-items: center;
    border-radius: 5px;
    grid-template-columns: repeat(2, max-content) 1fr;
    grid-gap: 3rem;
    border-left: 5px solid transparent;
    box-shadow: 0 1rem 2rem rgba($color-top-bg, .3);

    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    &.active {
        border-left: 5px solid $color-top-bg;
    }

    &__img {
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        border: 1px solid $color-black;

        @media only screen and (max-width: $bp-smallest) {
            height: 6.5rem;
            width: 6.5rem;
            justify-self: start;
            margin-top: -7.5rem;
            z-index: 2;
        }
    }

    &__info {
        display: grid;
        align-self: stretch;
        align-items: center;
        grid-gap: 2rem;

        @media only screen and (max-width: $bp-smallest) {
            margin-top: -2rem;
        }
    }

    &__status {
    }

    &__company {
        color: $color-top-bg;
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 1rem;
    }

    &__role {
        color: $color-dark-grey;
        font-size: 1.7rem;
        font-weight: 700;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            color: $color-top-bg;
            
        }
    }

    &__details {
        font-size: 1.2rem;
        display: flex;
        list-style: none;
        align-items: center;
        color: $color-light-grey;
        
        &--item {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:not(:last-child):after {
                content: ".";
                position: relative;
                top: -.25rem;
                margin-left: 10px;
              }
        }
    }

    &__tags {
        margin-left: 2rem;
        justify-self: end;
        padding-top: 1rem;

        &--item {
            font-size: 1.2rem;
            padding: 1rem;
            background-color: $color-bottom-bg;
            color: $color-top-bg;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 1rem;
            transition: all .2s;
            cursor: pointer;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                background-color: $color-top-bg;
                color: $color-bottom-bg;
            }
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            grid-column: 2 / -1;
        }    

        @media only screen and (max-width: $bp-smallest) {
            padding-top: 2rem;
            border-top: 1px solid rgba($color-light-grey, .6);
            grid-column: 1 / -1;
        }    
    
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: max-content 1fr;
        grid-gap: 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        
        &:not(:last-child) {
            margin-bottom: 5.5rem;
        }
    }

}